<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>

    <div id="app">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Vue is not awesome!</h1>

        <template v-if="awesome">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
          </template>

    </div>
    
    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                awesome:false
            }
        })
    </script>
</body>
</html>